<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Salida</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">View</h3>
                        </div>

                        <div class="box-body">
                            <back-buttton></back-buttton>
                        </div>

                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                        <tr>
                                            <th>#</th>
                                            <td>{{ item.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Nombre</th>
                                            <td>{{ item.name }}</td>
                                            </tr>
                                        <tr>
                                            <th>Carro actual</th>
                                            <td>
                                                <span class="label label-info" v-if="item.current_car !== null">
                                                    {{ item.current_car.license_plate }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Padre</th>
                                            <td>
                                                <span class="label label-info" v-if="item.parent !== null">
                                                    {{ item.parent.name }}
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-xs-6" style="min-height:203px;">
                                    <div class="cost-to-pay">
                                        <span><strong class="text-primary">TOTAL A PAGAR: </strong> <strong>{{cost}} $</strong> por un tiempo <strong>{{seconds}} seg</strong>  en el en el establecimiento.</strong> </span> <br/>
                                    </div>
                                    <div class="notes">
                                        <div v-if='child.current_car_id' class="">
                                            <div v-if='newSpot.id' class="">
                                                <strong class="text-warning">NOTA: </strong>Tenga en cuena que para salir <strong> {{item.current_car.license_plate}} </strong>  del puesto<strong> {{item.name}} </strong> es necesario mover <strong>{{child.current_car.license_plate}}</strong> del puesto  <strong>{{child.name}}</strong>  al puesto <strong> {{newSpot.name}} </strong>
                                            </div>
                                            <div v-if='!newSpot.id' class="">
                                                <strong class="text-warning">NOTA: </strong>Tenga en cuena que para salir <strong> {{item.current_car.license_plate}} </strong>  del puesto<strong> {{item.name}} </strong> es necesario mover <strong>{{child.current_car.license_plate}}</strong> del puesto  <strong>{{child.name}}</strong>  al puesto <strong> {{item.name}} </strong>
                                            </div>
                                        </div>
                                        <div v-if='!child.current_car_id' class="text-success">
                                            <strong>La salida puede suceder sin ningun ningun carro extra!!</strong>
                                        </div>
                                        <div class="form-check">
                                          <input @input="changeSendEmailState" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                          <label class="form-check-label" for="defaultCheck1">
                                            Enviar factura por correo
                                          </label>
                                        </div>
                                        <bootstrap-alert />

                                        <div v-if='sendEmail' class="box-body">

                                            <div class="form-group">
                                                <label for="model">Correo *</label>
                                                <input
                                                        tyParkingSpotsSinglepe="email"
                                                        class="form-control"
                                                        name="model"
                                                        placeholder="Introduce el correo *"
                                                        :value="email"
                                                        @input="updateEmail"
                                                        >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <form @submit.prevent="submitForm" novalidate>
                                            <vue-button-spinner
                                                    class="btn btn-primary custom-button"
                                                    :isLoading="loading"
                                                    :disabled="loading"
                                                    >
                                                Dar de alta
                                            </vue-button-spinner>
                                        </form>

                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            interval:null,
            xprops: {
                module: 'ParkingSpotsIndex',
                route: 'parking_spots',
                permission_prefix: 'parking_spot_'
            }
        }
    },
    created() {
        this.fetchDataCheckOut(this.$route.params.id)
        this.interval = setInterval(()=>{
            this.reculateCost();
        }, 1000);
    },
    destroyed() {
        this.resetState()

    },
    computed: {
        ...mapGetters('ParkingSpotsSingle', ['item', 'newSpot', 'child','cost', 'seconds', 'loading','sendEmail', 'email'])
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchData(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('ParkingSpotsSingle', ['fetchDataCheckOut', 'resetState','reculateCost', 'disableSpot', 'changeSendEmailState','setEmail']),
        submitForm() {
            clearInterval(this.interval)
            this.disableSpot()
                .then(() => {
                    console.log('se llamo')
                    this.$router.push({ name: 'parking_spots.general' })
                    this.$eventHub.$emit('update-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        },
        updateEmail(e) {
            this.setEmail(e.target.value)
        }
    }
}
</script>


<style scoped>
    .custom-button {
        height: 40px;
        width: 120px;
        font-size: 20px;
    }
    .actions {
        margin-top: 10%;
        text-align: center;
    }
</style>
