<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Puestos</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Edit</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="name">Nombre *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="name"
                                            placeholder="Enter Nombre *"
                                            :value="item.name"
                                            @input="updateName"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="current_car">Carro actual</label>
                                    <v-select
                                            name="current_car"
                                            label="license_plate"
                                            @input="updateCurrent_car"
                                            :value="item.current_car"
                                            :options="carsAll"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="parent">Padre</label>
                                    <v-select
                                            name="parent"
                                            label="name"
                                            @input="updateParent"
                                            :value="item.parent"
                                            :options="parkingspotsAll"
                                            />
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('ParkingSpotsSingle', ['item', 'loading', 'carsAll', 'parkingspotsAll']),
    },
    created() {
        this.fetchData(this.$route.params.id)
    },
    destroyed() {
        this.resetState()
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchData(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('ParkingSpotsSingle', ['fetchData', 'updateData', 'resetState', 'setName', 'setCurrent_car', 'setParent']),
        updateName(e) {
            this.setName(e.target.value)
        },
        updateCurrent_car(value) {
            this.setCurrent_car(value)
        },
        updateParent(value) {
            this.setParent(value)
        },
        submitForm() {
            this.updateData()
                .then(() => {
                    this.$router.push({ name: 'parking_spots.index' })
                    this.$eventHub.$emit('update-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
