<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Entrada de carro</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Edit</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="name">Nombre *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="name"
                                            disabled=true
                                            placeholder="Enter Nombre *"
                                            :value="item.name"
                                            @input="updateName"
                                            >
                                </div>
                                <div class="form-check">
                                  <input @input="changeNewCardState" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                  <label class="form-check-label" for="defaultCheck1">
                                    Carro ya registrado
                                  </label>
                                </div>
                                <div class="box-body" v-if='newCarState'>
                                    <div class="form-group">
                                        <label for="license_plate">Placa *</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                name="license_plate"
                                                placeholder="Enter Placa *"
                                                :value="newCarItem.license_plate"
                                                @input="updateCarLicensePlate"
                                                >
                                    </div>
                                    <div class="form-group">
                                        <label for="model">Modelo *</label>
                                        <input
                                                tyParkingSpotsSinglepe="text"
                                                class="form-control"
                                                name="model"
                                                placeholder="Enter Modelo *"
                                                :value="newCarItem.model"
                                                @input="updateCarModel"
                                                >
                                    </div>
                                </div>

                                <div class="form-group" v-if='!newCarState'>
                                    <label for="current_car">Carro actual</label>
                                    <v-select
                                            name="current_car"
                                            label="license_plate"
                                            @input="updateCurrent_car"
                                            :value="item.current_car"
                                            :options="carsAll"
                                            />
                                </div>
                                <div class="disable-input">
                                    <label for="parent">Padre</label>
                                    <v-select
                                            name="parent"
                                            label="name"
                                            @input="updateParent"
                                            :value="item.parent"
                                            :options="parkingspotsAll"
                                            />
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {

        }
    },
    computed: {
        ...mapGetters('ParkingSpotsSingle', ['item', 'loading', 'carsAll', 'parkingspotsAll','newCarState', 'newCarItem']),
    },
    created() {
        this.fetchDataNewCar(this.$route.params.id)
    },
    destroyed() {
        this.resetState()
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchDataNewCar(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('ParkingSpotsSingle', ['fetchDataNewCar', 'RegisterCarSpot', 'resetState', 'setName', 'setCurrent_car', 'setParent', 'setNewCarItemModel','setNewCarItemLincensePlate','changeNewCardState']),
        updateName(e) {
            this.setName(e.target.value)
        },
        updateCurrent_car(value) {
            this.setCurrent_car(value)
        },
        updateParent(value) {
            this.setParent(value)
        },
        submitForm() {
            this.RegisterCarSpot()
                .then(() => {
                    this.$router.push({ name: 'parking_spots.general' })
                    this.$eventHub.$emit('update-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        },
        updateCarLicensePlate(e) {
            this.setNewCarItemLincensePlate(e.target.value)
        },
        updateCarModel(e) {
            this.setNewCarItemModel(e.target.value)
        }

    }
}
</script>


<style scoped>
    .disable-input {
        display: none;
    }
</style>
