<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Puestos</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="row parking">
                            <div v-for="(spot, index) in dataWithoutParent">
                                <div :key="spot.id" class="col-xs-1 parking-spot" :style="!spot.current_car_id ? 'background:green;' :'background:red;'" >
                                    <span class="parking-text">
                                        {{spot.name}}
                                    </span>
                                    <br>
                                    <span v-if='spot.current_car_id' class="parking-text-car">
                                        {{spot.current_car.license_plate.substr(0,7)}}
                                    </span>
                                    <br>
                                    <span v-if='spot.current_car_id' class="parking-text-car">
                                        {{spot.secondsAlive}} s
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row parking">
                            <div v-for="(spot, index) in dataWithParent">
                                <div :key="spot.id" class="col-xs-2 parking-spot" :style="!spot.current_car_id ? 'background:green;' :'background:red;'" >
                                    <span class="parking-text">
                                        {{spot.name}}
                                    </span>
                                    <br>
                                    <span v-if='spot.current_car_id' class="parking-text-car">
                                        {{spot.current_car.license_plate.substr(0,7)}}
                                    </span>
                                    <br>
                                    <span v-if='spot.current_car_id' class="parking-text-car">
                                        {{spot.secondsAlive}} s
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="box-header with-border">
                            <h3 class="box-title">Lista General</h3>
                        </div>

                        <div class="box-body">
                            <div class="btn-group">
                                <router-link
                                        v-if="$can(xprops.permission_prefix + 'disable_enable') && Boolean(dataWithOutCar.length)"
                                        :to="{ name: xprops.route + '.enter_car', params: {id: newSpot.id} }"
                                        class="btn btn-success btn-sm"
                                        >
                                    <i class="fa fa-plus"></i> Carro nuevo
                                </router-link>

                                <button type="button" class="btn btn-default btn-sm" @click="fetchData">
                                    <i class="fa fa-refresh" :class="{'fa-spin': loading}"></i> Actualizar
                                </button>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="row" v-if="loading">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <div class="alert text-center">
                                        <i class="fa fa-spin fa-refresh"></i> Loading
                                    </div>
                                </div>
                            </div>

                            <datatable
                                    v-if="!loading"
                                    :columns="columns"
                                    :data="dataWithCar"
                                    :total="dataWithCar.length"
                                    :query="query"
                                    :xprops="xprops"
                                    />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'
import DatatableActions from '../../dtmodules/DatatableActions'
import DatatableSingle from '../../dtmodules/DatatableSingle'
import DatatableList from '../../dtmodules/DatatableList'
import DatatableCheckbox from '../../dtmodules/DatatableCheckbox'


export default {
    data() {
        return {
            columns: [
                { title: '#', field: 'id', sortable: true },
                { title: 'Nombre', field: 'name', sortable: true },
                { title: 'Carro actual', field: 'current_car', tdComp: DatatableSingle },
                { title: 'Modelo', field: 'actualModel' },
                { title: 'Segundos(s)', field: 'secondsAlive' },
                { title: 'Hora de entrada', field: 'updated_at' },
                { title: 'Actions', tdComp: DatatableActions, visible: true, thClass: 'text-center', tdClass: 'text-center' }
            ],
            query: { sort: 'id', order: 'asc' },
            xprops: {
                module: 'ParkingSpotsIndex',
                route: 'parking_spots',
                permission_prefix: 'parking_spot_',
                general:true
            },

        }
    },
    created() {
        this.$root.relationships = this.relationships
        this.fetchData()

    },
    destroyed() {
        this.resetState()
    },
    computed: {
        ...mapGetters('ParkingSpotsIndex', ['data', 'total', 'loading', 'relationships','dataWithoutParent','dataWithParent', 'dataWithCar', 'newSpot', 'dataWithOutCar']),
    },
    watch: {
        query: {
            handler(query) {
                this.setQuery(query)
            },
            deep: true
        }
    },
    methods: {
        ...mapActions('ParkingSpotsIndex', ['fetchData', 'setQuery', 'resetState']),
    }
}
</script>


<style scoped>
    .parking {
        width: 96%;
        margin-left: 2%;
        text-align: center;
        margin-top: 3%;
    }
    .parking-spot {
        width: 10%;
        padding: 0;
        height: 100px;
        border: black 2px solid;
    }
    .parking-text {
        font-size: 30px;
        font-weight: bold;
    }
    .parking-text-car {
        font-size: 13px;
        font-weight: bold;

    }
</style>
