@import '~vue-awesome-notifications/dist/styles/style.scss';

td {
    font-size: 18px;
    text-align: center;
}

th {
    font-size: 20px;
    text-align: center;
}

.text-success {
    color: #3c8dbc;
}
.text-warning {
    color: #f39c12;
}
.text-danger {
    color: #dd4b39;
}
