<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Mejores puestos</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">

                        <div class="box-header with-border">
                            <h3 class="box-title">Lista</h3>
                        </div>

                        <div class="box-body">
                            <div class="btn-group">


                                <button type="button" class="btn btn-default btn-sm" @click="fetchDataTop5">
                                    <i class="fa fa-refresh" :class="{'fa-spin': loading}"></i> Actualizar
                                </button>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="row" v-if="loading">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <div class="alert text-center">
                                        <i class="fa fa-spin fa-refresh"></i> Loading
                                    </div>
                                </div>
                            </div>

                            <datatable
                                    v-if="!loading"
                                    :columns="columns"
                                    :data="data"
                                    :total="total"
                                    :query="query"
                                    :xprops="xprops"
                                    />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'
import DatatableActions from '../../dtmodules/DatatableActions'
import DatatableSingle from '../../dtmodules/DatatableSingle'
import DatatableList from '../../dtmodules/DatatableList'
import DatatableCheckbox from '../../dtmodules/DatatableCheckbox'


export default {
    data() {
        return {
            columns: [
                { title: '#', field: 'id', sortable: true, colStyle: 'width: 50px;' },
                { title: 'Nombre', field: 'name', sortable: true },
                { title: 'Carro actual', field: 'current_car', tdComp: DatatableSingle },
                { title: 'Padre', field: 'parent', tdComp: DatatableSingle },
                { title: 'Tiempo usado(s)', field: 'seconds_used', sortable: true },

            ],
            query: { sort: 'seconds_used', order: 'desc' },
            xprops: {
                module: 'ParkingSpotsIndex',
                route: 'parking_spots',
                permission_prefix: 'parking_spot_'
            }
        }
    },
    created() {
        this.$root.relationships = this.relationships
        this.fetchDataTop5()
    },
    destroyed() {
        this.resetState()
    },
    computed: {
        ...mapGetters('ParkingSpotsIndex', ['data', 'total', 'loading', 'relationships','dataWithoutParent','dataWithParent']),
    },
    watch: {
        query: {
            handler(query) {
                this.setQuery(query)
            },
            deep: true
        }
    },
    methods: {
        ...mapActions('ParkingSpotsIndex', ['fetchDataTop5', 'setQuery', 'resetState']),
    }
}
</script>


<style scoped>
    .parking {
        width: 80%;
        margin-left: 10%;
        text-align: center;
        margin-top: 3%;
    }
    .parking-spot {
        width: 10%;
        height: 100px;
        border: black 2px solid;
    }
    .parking-text {
        font-size: 40px;
        font-weight: bold;
    }
</style>
