<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Historial global</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">ver</h3>
                        </div>

                        <div class="box-body">
                            <back-buttton></back-buttton>
                        </div>

                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                        <tr>
                                            <th>#</th>
                                            <td>{{ item.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Puesto</th>
                                            <td>
                                                <span class="label label-info" v-if="item.parking !== null">
                                                    {{ item.parking.name }}
                                                </span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>Puesto final</th>
                                            <td>
                                                <span class="label label-info" v-if="item.parking_out !== null">
                                                    {{ item.parking_out.name }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Segundos</th>
                                            <td>
                                                <span class="" v-if="item.seconds !== null">
                                                    {{ item.seconds }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Costo final</th>
                                            <td>
                                                <span class=" " v-if="item.final_cost !== null">
                                                    {{ item.final_cost }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Fecha de entrada</th>
                                            <td>
                                                <span class="" v-if="item.seconds !== null">
                                                    {{ item.created_at }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Fecha de salida</th>
                                            <td>
                                                <span class="" v-if="item.seconds !== null">
                                                    {{ item.deleted_at }}
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-xs-6">
                                    <form @submit.prevent="submitForm" novalidate>
                                        <div class="box">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Enviar por correo factura</h3>
                                            </div>

                                            <bootstrap-alert />

                                            <div class="box-body">

                                                <div class="form-group">
                                                    <label for="model">Correo *</label>
                                                    <input
                                                            tyParkingSpotsSinglepe="text"
                                                            class="form-control"
                                                            name="model"
                                                            placeholder="Introduce el correo *"
                                                            :value="email"
                                                            @input="updateEmail"
                                                            >
                                                </div>
                                            </div>

                                            <div class="box-footer">
                                                <vue-button-spinner
                                                        class="btn btn-primary btn-sm"
                                                        :isLoading="loading"
                                                        :disabled="loading"
                                                        >
                                                    Enviar por correo
                                                </vue-button-spinner>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {

        }
    },
    created() {
        this.fetchData(this.$route.params.id)
    },
    destroyed() {
        this.resetState()
    },
    computed: {
        ...mapGetters('RecordsSingle', ['item', 'email', 'loading'])
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchData(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('RecordsSingle', ['fetchData', 'resetState','setEmail', 'sendEmail','setLoading']),
        submitForm(){

            this.sendEmail()
                .then(() => {
                    this.$eventHub.$emit('create-success')
                    this.$router.push({ name: 'records.index' })
                })
                .catch((error) => {
                    console.error(error)
                })
        },
        updateEmail(e) {
            this.setEmail(e.target.value)
        },
    }
}
</script>


<style scoped>

</style>
