<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Carros</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Create</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="license_plate">Placa *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="license_plate"
                                            placeholder="Enter Placa *"
                                            :value="item.license_plate"
                                            @input="updateLicense_plate"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="model">Modelo *</label>
                                    <input
                                            tyParkingSpotsSinglepe="text"
                                            class="form-control"
                                            name="model"
                                            placeholder="Enter Modelo *"
                                            :value="item.model"
                                            @input="updateModel"
                                            >
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('CarsSingle', ['item', 'loading'])
    },
    created() {
        // Code ...
    },
    destroyed() {
        this.resetState()
    },
    methods: {
        ...mapActions('CarsSingle', ['storeData', 'resetState', 'setLicense_plate', 'setModel']),
        updateLicense_plate(e) {
            this.setLicense_plate(e.target.value)
        },
        updateModel(e) {
            this.setModel(e.target.value)
        },
        submitForm() {
            this.storeData()
                .then(() => {
                    this.$router.push({ name: 'cars.index' })
                    this.$eventHub.$emit('create-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
