<template>
    <div>
        <span class="label label-info" v-if="value !== null">
            {{ value[$root.relationships[field]] }}
        </span>
    </div>
</template>


<script>
export default {
    props: ['value', 'field'],
    data() {
        return {
            // Code...
        }
    },
    created() {
        
    },
    methods: {
        // Code...
    }
}
</script>


<style scoped>

</style>
