<template>
    <div class="btn-group btn-group-xs">
        <router-link
                v-if="$can(xprops.permission_prefix + 'view')"
                :to="{ name: xprops.route + '.show', params: { id: row.id } }"
                class="btn btn-primary"
                >
            Ver
        </router-link>

        <router-link
                v-if="$can(xprops.permission_prefix + 'edit') && !xprops.general"
                :to="{ name: xprops.route + '.edit', params: { id: row.id } }"
                class="btn btn-warning">
            Editar
        </router-link>

        <router-link
                v-if="$can(xprops.permission_prefix + 'disable_enable') && xprops.general && row.current_car_id"
                :to="{ name: xprops.route + '.checkout', params: { id: row.id } }"
                class="btn btn-warning">
            Dar de alta
        </router-link>
        <button
                v-if="$can(xprops.permission_prefix + 'delete') && !xprops.general"
                @click="destroyData(row.id)"
                type="button"
                class="btn btn-danger">
            Eliminar
        </button>

   </div>
</template>


<script>
export default {
    props: ['row', 'xprops'],
    data() {
        return {
            // Code...
        }
    },
    created() {
        // Code...
    },
    methods: {
        destroyData(id) {
            this.$swal({
                title: 'Estas seguro?',
                text: 'No seras capaz de revertir esto!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                confirmButtonColor: '#dd4b39',
                focusCancel: true,
                reverseButtons: true
            }).then(result => {
                if (result.value) {
                    this.$store.dispatch(
                        this.xprops.module + '/destroyData',
                        id
                    ).then(result => {
                        this.$eventHub.$emit('delete-success')
                    })
                }
            })
        },
        disable(row) {
            console.log(name)
            this.$swal({
                title: 'Estas seguro?',
                text: 'No seras capaz de revertir esto!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                confirmButtonColor: '#dd4b39',
                focusCancel: true,
                reverseButtons: true
            }).then(result => {
                if (result.value) {
                    this.$store.dispatch(
                        'ParkingSpotsSingle/disableSpot',
                        row
                    ).then(result=>{
                        this.$store.dispatch(
                            'ParkingSpotsIndex/fetchData',
                            row
                        )
                    })
                }
            })
        },
        enable(id) {
            console.log(id)
        },

    }
}
</script>


<style scoped>

</style>
