<template>
    <div>

    </div>
</template>


<script>
import { mapGetters } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('Rules', ['rules'])
    },
    created() {
        this.$eventHub.$on('create-success', this.itemCreated)
        this.$eventHub.$on('update-success', this.itemUpdated)
        this.$eventHub.$on('delete-success', this.itemDeleted)
        this.$eventHub.$on('rules-update', this.rulesUpdate)
    },
    methods: {
        itemCreated() {
            this.$awn.success('Tu item ha sido creado con exito.')
        },
        itemUpdated() {
            this.$awn.success('Tu item ha sido actualizado con exito.')
        },
        itemDeleted() {
            this.$awn.success('Tu item ha sido eliminado con exito.')
        },
        rulesUpdate() {
            this.$ability.update([{ subject: 'all', actions: this.rules }])
        }
    }
}
</script>


<style scoped>

</style>
